@import 'flex_box.css';
:root
{
	--primary:#3DCFD3;
	--dark:black;
	--pure:white;
	--ternary:#898989;
	--light:#f2f2f2;
	--secondary:#070606;
}
*
{
	margin: 0;
	padding: 0;
}
header
{
	background: var(--dark);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
}
.container .hero
{
	background: var(--dark);
}
.container .hero .right1
{
	color: var(--pure);
}
.container nav
{
	background: var(--dark);
	font-family: 'Poppins', sans-serif;
}
.container nav .left img
{
	max-width: 18rem;
	margin-left: 2rem;
	margin-top: 2rem;
}
.container nav .left a
{
	padding: 0.2rem 1rem;
	margin-left: 2rem;
	font-size: 1rem;
	color: var(--pure);
	text-decoration: none;
	text-transform: uppercase;
}
.container nav .left .linkss
{
	margin-left: 7rem;
}
header nav .left a:hover
{
	color: var(--primary);
	transition:all 0.5s;
	box-shadow: 0rem 0.5rem 2rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset,
				0rem 0.5rem 2rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset;
}
.btn
{
	padding: 0.8rem 3rem;
	font-size: 1rem;
	font-weight:600;
	border: 0.2rem solid transparent;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
	margin-left: 10rem;
	text-transform: uppercase;
	font-weight: 400;
}
.btn-1
{
	background: var(--primary);
	color: var(--dark);
	margin-right: 6rem;
}
.btn-1:hover
{
	background: transparent;
	color: var(--primary);
	border-color: var(--primary);
	box-shadow: 0rem 0.5rem 3rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset,
				0rem 0.5rem 3rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset;
}
.container .hero img
{
	max-width: 30rem;
	margin-left: 10rem;
	margin-top: 8rem;
}
.container .hero .right1
{
	margin-top: 5rem;
}
.container .hero h1
{
	color: var(--pure);
	font-size: 5rem;
	margin-right: 8rem;
	margin-left: 4rem;
	margin-bottom: 1rem;
}
.container .hero h1 span
{
	color: var(--primary);
}
.container .hero h3
{
	color: var(--pure);
	margin-left: 4rem;
}
.container .hero .right1 p
{
	line-height: 1.9;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	margin-left: 4rem;
	margin-right: 15rem;
	font-weight: 50;
}
.btn-secondary
{
	margin-top: 5rem;
	background: transparent;
	color: var(--primary);
	border-color: var(--primary);
}
.btn-secondary:hover
{
	color: var(--primary);
	border-color: var(--primary);
	box-shadow: 0rem 0.5rem 3rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset,
				0rem 0.5rem 3rem 0rem #00ffff,
				0rem 0.2rem 0.5rem 0rem #00ffff inset;
}
.about
{
	margin-top: 20rem;
}
.about img
{
	max-width: 30rem;
	margin-left: 10rem;
}
.about .about-me h1
{
	color: var(--dark);
	font-size: 5rem;
	margin-right: 8rem;
	margin-left: 4rem;
	margin-bottom: 1rem;
}
.about .about-me h1 span
{
	color: var(--primary);
	
}
.about .about-me h3
{
	font-size: 2rem;
	margin-left: 5rem;
	margin-bottom: 2rem;

}
.about .about-me p
{
	margin-left: 5rem;
	line-height: 1.2;
	font-size: 1.2rem;
	margin-right: 10rem;
	color: var(--ternary);
}
.icons
{
	margin-left: -2rem;
	max-width: 0.2rem;
	margin-bottom: 10rem;
}
.icons .a:hover
{
	transform: rotateZ(60deg);
	transition: 2s;
}
.icons .b:hover
{
	transform: rotateZ(60deg);
	transition: 2s;
}
.icons .c:hover
{
	transform: rotateZ(60deg);
	transition: 2s;
}
.icons a
{
	margin-left: 2rem;
	margin-top: -5rem;
}

.services .container
{
	max-width: 80rem;
	align-items: center;
	margin-left: 6rem;
}
.section-heading
{
	color: var(--secondary);
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 10rem;
	line-height: 0.5;
	font-size: 3rem;
	font-weight: 550;
}
.section-heading span
{
	color: var(--primary);
}
.services .container h3
{
	color: var(--ternary);
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 400;
}
section.services
{
	background: var(--light);
	max-width: 60rem;
	/*margin-left: 17rem;*/
	padding: 0.01rem 20rem;
	padding-bottom: 10rem;
}
section.services .card-wrapper
{
	display: grid;
	margin-top: 7rem;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3rem;
	grid-row-gap: 5rem;
}
section.services .card-wrapper .card p
{
	text-align: center;	
	font-size: 1.2rem;
}
section.services .card-wrapper .card
{
	padding: 1.5rem 2rem;
	padding-bottom: -2rem;
	background: var(--pure);

}
section.services .card-wrapper .card h2
{
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
	font-weight: 800;
	line-height: -0.2rem;
	text-transform: uppercase;
	text-align: center;
}
section.services .card-wrapper .card img
{
	max-width: 4.5rem;
	margin-left: 4rem;
	margin-top: -6rem;
}
section.freelancer
{
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
	color: var(--pure);
	padding-bottom: 15rem;
	padding-top: 10rem;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(camera.png);
}
section.freelancer h1
{
	font-size: 3rem;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}
section.freelancer h3
{
	margin-bottom: 3rem;
}
section.our-works
{
	background: var(--light);
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
	padding-bottom: 10rem;
	margin-bottom: 10rem;
	margin-top: 20rem;
}
section.our-works h1
{
	font-size: 4rem;
	margin-top: 5rem;
	font-weight: 500;
}
section.our-works h1 span
{
	color: var(--primary);

}
section.our-works h3
{
	color: var(--ternary);
}
section.our-works .works
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
section.our-works .works .work
{
	margin-top: 7rem;
}
section.our-works .works .work img
{
	margin-left: -5rem;
	margin-right: -5rem;
	max-width: 25rem;
}
section.my-degree
{
	text-align: center;
}
section.my-degree h1
{
	font-size: 5rem;
}
section.my-degree h1 span
{
	color: var(--primary);
}
section.my-degree h3
{
	font-size: 3rem;
	margin-top: 5rem;
}
section.my-degree h4
{
	font-size: 2rem;
	color: red;
}
section.my-degree h4 span
{
	color: var(--primary);
}
section.my-degree p
{
	font-size: 1.5rem;
}
section.my-degree p span
{
	color: green;
}
section.my-degree h6
{
	margin-top: -1rem;
}
@media(max-width: 998px)
{
	html
	{
		font-size: 55%;
	}
}
@media(max-width: 768px)
{
	html
	{
		font-size: 45%;
	}
}